.text_galim {
  color: brown;
}

.po-centry{
  display: flex;
  justify-content: center;
}

.text_emin{
  border: 3px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  width: 700px;
  height: 100px;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  color: rgb(2, 180, 245);
  transition: color 0.3s;
}

.text_emin:hover{
  color: rgb(255, 255, 255);
}

.content-box {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

.content-box h1 {
  color: aquamarine;
}

.content-box p {
  color: chocolate;
  font-size: 18px;
}
